h1 {
  font-family: "Shrikhand", serif;
  font-size: 90px;
  color: rgb(251, 251, 251);
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Catamaran", serif;
  font-size: 18px;
  letter-spacing: 8px;
  color: rgb(251, 251, 251);
  text-align: center;
  font-weight: 200;
}

.hero {
  background-color: rgb(32, 30, 30);
  margin: 0 auto;
  padding: 220px;
}

@media (max-width: 576px) {
  h1 {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    color: rgb(251, 251, 251);
    text-align: center;
  }
  h2 {
    font-family: "Catamaran", serif;
    font-size: 8px;
    letter-spacing: 2px;
  }
  .hero {
    background-color: rgb(32, 30, 30);
    margin: 0 auto;
    padding: 80px;
  }
  .btn-light {
    font-family: "Catamaran", serif;
    font-size: 6px;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

.btn-light {
  font-family: "Catamaran", serif;
  font-size: 12px;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  display: block;
}
