h1 {
  font-family: "Shrikhand", serif;
  font-size: 90px;
  color: rgb(251, 251, 251);
  background-color: rgb(32, 30, 30);
  text-align: center;
  padding: 200px;
}

.tagline {
  text-align: center;
  font-family: "Catamaran", serif;
  font-size: 18px;
  letter-spacing: 8px;
  color: rgb(251, 251, 251);
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
}
